<table class="table table-striped ">
    <thead>
    <tr>
        <th>City name</th>
        <th>Temperature</th>
        <th>Weather</th>
        <th>Humidity</th>
        <th>Pressure</th>
        <th>Wind speed</th>
        <th>Clouds</th>
    </tr>
    </thead>
    <tbody *ngIf="list">
        <tr *ngFor="let item of list">
            <td>{{item.name}}</td>
            <td>{{item.main.temp_min}} - {{item.main.temp_max}}°C</td>
            <td>{{item.weather[0].main}}</td>
            <td>{{item.main.humidity}}%</td>
            <td>{{item.main.pressure}} hPa</td>
            <td>{{item.wind.speed}}m/s</td>
            <td>{{item.clouds.all}}%</td>
        </tr>
    </tbody>
</table>